@font-face {
    font-family: headerFont;
    src: url(headerFont.ttf);
}

@font-face {
    font-family: header2Font;
    src: url(header2Font.ttf);
}

@font-face {
    font-family: header3Font;
    src: url(header3Font.ttf);
}

@font-face {
    font-family: header4Font;
    src: url(header4Font.ttf);
}

@font-face {
    font-family: header5Font;
    src: url(header5Font.ttf);
}

@font-face {
    font-family: header6Font;
    src: url(header6Font.ttf);
}

@font-face {
    font-family: header7Font;
    src: url(header7Font.ttf);
}

@font-face {
    font-family: header8Font;
    src: url(header8Font.ttf);
}

@font-face {
    font-family: header9Font;
    src: url(header9Font.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(bodyFont.ttf);
}

body{
  text-align: center;
  align-content: center;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px #000000,
               0 0 20px #000000,
               0 0 30px #000000,
               0 0 40px #000000;
  font-size: 20px;
  font-family: bodyFont;
}

ul {
  font-size: 25px;
}

ol {
  font-size: 25px;
}

li {
  list-style-position: inside;
}

h1 {
  font-family: header6Font;
  font-size: 70px;
  color: black;
  text-shadow: 0 0 10px #020202,
               0 0 20px #FFFFFF,
               0 0 30px #FFFFFF,
               0 0 40px #FFFFFF,
               0 0 70px #FFFFFF,
               0 0 80px #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
}

h2 {
  font-family: header2Font;
  font-size: 30px;
}

h3 {
  font-family: header2Font;
  font-size: 30px;
  color: black;
  text-shadow: 0 0 10px #FFFFFF;
}

a {
  color: black;
  text-shadow: 0 0 10px #020202,
               0 0 20px #FFFFFF,
               0 0 30px #FFFFFF,
               0 0 40px #FFFFFF,
               0 0 70px #FFFFFF,
               0 0 80px #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
}

a:hover {
  color: white;
  text-shadow: 0 0 10px #000000,
               0 0 20px #000000,
               0 0 30px #000000;
}

#subhead {
  font-family: header2Font;
}

#downLoad {
  font-size: 45px;
  text-shadow: 0 0 10px #020202,
               0 0 20px #FFFFFF,
               0 0 30px #FFFFFF,
               0 0 40px #FFFFFF,
               0 0 70px #FFFFFF,
               0 0 80px #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
}

#downLoad:hover {
  font-size: 45px;
  text-shadow: 0 0 10px #020202,
               0 0 20px #020202,
               0 0 30px #020202,
               0 0 40px #FFFFFF,
               0 0 70px #FFFFFF,
               0 0 80px #FFFFFF,
               0 0 100px #FFFFFF,
               0 0 150px #FFFFFF;
}

#code {
  text-align: left;
}

#creators {
  font-size: 15px;
}
