@font-face {
    font-family: headerFont;
    src: url(headerFont.ttf);
}

@font-face {
    font-family: header2Font;
    src: url(header2Font.ttf);
}

@font-face {
    font-family: header3Font;
    src: url(header3Font.ttf);
}

@font-face {
    font-family: header4Font;
    src: url(header4Font.ttf);
}

@font-face {
    font-family: header5Font;
    src: url(header5Font.ttf);
}

@font-face {
    font-family: header6Font;
    src: url(header6Font.ttf);
}

body{
  text-align: center;
  align-content: center;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: 0 0 20px #020202;
  font-size: 18px;
}

li {
  list-style-position: inside;
}

h1 {
  font-family: header6Font;
  font-size: 70px;
}

h2 {
  font-family: header2Font;
  font-size: 30px;
}

h3 {
  font-family: header2Font;
  font-size: 30px;
}
