@font-face {
    font-family: headerFont;
    src: url(headerFont.ttf);
}

@font-face {
    font-family: header2Font;
    src: url(header2Font.ttf);
}

body{
  text-align: center;
  align-content: center;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: 0 0 20px #020202;
}

li {
  list-style-position: inside;
}

h1 {
  font-family: headerFont;
}

h2 {
  font-family: header2Font;
}

h3 {
  font-family: header2Font;
}
