<h1>Creating the Modulation Synthesizer with Processing</h1>

<h3>The Concept</h3>

<h3></h3>

<h3>Why Processing?</h3>










<h3><a href="/processing">What is Processing IDE?</a></h3>
<h3><a href="/modular">What is a Modular Synthesizer?</a></h3>
<h3><a href="/download">Download and Play</a></h3>
<h3><a href="/">Home</a></h3>
